@import url('./variables.css');

table {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.modal-title {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-danger {
    background-color: var(--danger-color);
}